{% extends "base.html" %}

{% block content %}

<div class="card">

<h2>Add Photographer</h2>

<form method="POST">

<input 
type="text" 
name="name" 
placeholder="Photographer Name"
required
>

<input 
type="text" 
name="specialization" 
placeholder="Specialization (Wedding, Event, Portrait...)"
required
>

<input 
type="text" 
name="location" 
placeholder="Location"
required
>

<input 
type="text" 
name="price" 
placeholder="Price (₹)"
required
>

<button type="submit">Add Photographer</button>

</form>

</div>

{% endblock %}