{% extends "base.html" %}

{% block content %}

<div class="card">

<h2>Login</h2>

{% if error %}
<p style="color:red; font-weight:bold;">{{ error }}</p>
{% endif %}

<form method="POST">

<input 
type="email" 
name="email" 
placeholder="Enter your email"
required
>

<input 
type="password" 
name="password" 
placeholder="Enter your password"
required
>

<button type="submit">Login</button>

</form>

<p style="margin-top:15px;">
Don't have an account? 
<a href="/register">Create Account</a>
</p>

</div>

{% endblock %}